.video-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	mix-blend-mode: hard-light;
}
.video-player {
	width: 50%;
	height: auto;
	padding: 50px;
	margin-bottom: 20px;
	justify-content: flex-start;
}

@media (max-device-width: 812px) {
	.video-container {
		flex-direction: column;
	}
	.video-player {
		width: 100%;
		height: 40vh;
		object-fit: cover;
		margin-top: 10vh;
		transform: rotate(90deg);
	}

	#video-one {
		/* display: none; */
		padding-right: 0px;
	}
}
